* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background-color: rgba(34, 112, 147, 1.0); */
  /* background: linear-gradient(325deg, #5588b1 60%, #3c6382 60%); */
  /* background-color: rgba(60, 99, 130, 1.0); */
  /* background-color: rgba(129, 236, 236, 1.0); */
  /* background: -webkit-linear-gradient(-70deg, #2c2c54 30%, rgba(0, 0, 0, 0) 30%), url('/Users/jscarpelli/ga_seir919/projects/Jon-Scarpelli-Portfolio/JScarpelli-Portfolio/src/images/nico-baum-xZroI5V_dxc-unsplash.jpg'); */
  background: linear-gradient(-70deg, #fa7c30 30%, rgba(0, 0, 0, 0.127) 30%), url('/Users/jscarpelli/ga_seir919/projects/Jon-Scarpelli-Portfolio/JScarpelli-Portfolio/src/images/nico-baum-xZroI5V_dxc-unsplash.jpg');
  background-size: cover;
  background-position: 0 20%;
}

/* Good Samaaritan
#3c6382 */
/* LUCKY POINT
#2c2c54 */
/* OCHRE */
/* #fa7c30 */
/* HOT STONE */
/* #aaa69d */
/* #222f3e */

.app {
  font-family: 'Lexend';
  text-align: center;
  color: #fefeff;
}

::-webkit-scrollbar {
  display: none;
}

/* .nav {
  position: fixed
} */

.nav-div {
  padding: 1vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: rgba(77, 77, 77, 0.274);
}

.nav-name {
  color: rgb(255, 255, 255);
}

.nav-links {
  color: rgb(255, 255, 255);
}

a {
  color: rgb(255, 255, 255);

}

.main-div {
  padding: 4vh 8vw;
  text-align: center;
  text-shadow: 1px 1px 2px #000000;
}

section {
  padding-left: 5vw;
}

.greeting {
  color: rgb(255, 255, 255);
  margin-top: 2vh;
  margin-bottom: 4vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.prof-pic {
  height: 30vh;
  grid-area: 1/1/4/2;
  margin-right: 2vw;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.428);
}

.titles,
.name,
.hello,
.about {
  grid-area: 1/2/4/3;
}

.greeting-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.hello {
  margin-top: 6vh;
}

.about {
  font-style: normal;
  font-size: small;
  text-align: left;
  margin: 3vh 8vw 2vh 0;
}

.project-grid {
  color: rgba(247, 241, 227, 1.0);
  border-top: 1px solid black;
  display: flex;
  flex-direction: row;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh 0 2vh 0;
  box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.428);
  background-color: #3c6382;
  /* background-color: #4b6584; */
  /* background-color: #747d8c; */
  /* background-color: #57606f; */
  /* background-color: #2f3542; */
  /* background-color: #fa983a; */
  border-radius: 2px;
  border: 1px solid black;
  margin: 2vw;
}

/* .project-thumb:hover {
  background-image: url('/Users/jscarpelli/ga_seir919/projects/Jon-Scarpelli-Portfolio/JScarpelli-Portfolio/src/images/TMT_scrn_a.png');
} */

.project-thumb {
  width: 20vw;
}

.caption {
  width: 20vw;
}